/*
 * variáveis
 */

// cores
$date-color: #bbb;
$base-link-color: #1968e6;
$base-link-darkened: darken($base-link-color, 20%);
$base-text-color: #333;
$background-color: #fff;

// espaços
$post-card-margin: 16px;
$heading-margin: 16px;

///////////// estilo
body {
	font-family: sans-serif ;
	background: $background-color;
	color: $base-text-color;
	font-family: 'Alegreya Sans';
	margin: 0 auto;
}

h1,h2,h3,h4{
	font-family: 'Alegreya Sans SC';
	font-weight: 500;
}

.navbar {
	display: block;
//	position: fixed;
//	overflow: hidden;
//	top: 0;
	width: 100%;
	background: $background-color;
	box-shadow: 5px 1px 5px darken($background-color, 20%);

	h1{
		display: flex;
		flex-direction: column;
		font-family: "Alegreya Sans SC";
		font-weight: 400;
		padding: $heading-margin;
		margin:0;
		justify-content: center;
		align-items: center;
		a {
			padding: 0;
		}
		span {
			font-size: 0.7em;
			margin-top: 5px;
			color: $base-link-darkened;
			font-weight:300;
		}
	}

	li{

		font-family: 'Alegreya Sans SC';
		font-size: 1.1em;
		a {
			&:hover {
				color: $base-link-darkened;
			}
		}
	}

	a {
		color: $base-link-color;
		padding-top: 1em;
		text-decoration: none;
	}

	.container {
		display: flex;
		width: 80%;
		margin: 0 auto;

		// flexbox stuff
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.separator {
			h1,h2{
				display: inline-block;
				a {
					padding: 0.3em;
					}
			}
		}
	}
}

.collapse {
	box-shadow: 1px 1px 15px darken($background-color, 20%);
	margin-top: 0;
	position: absolute;
	right: 0;
	width: 100%;
	background: $background-color;
	ul {
		margin-top: 0;
		li {
			padding: 0.3em 0;
			list-style: none;
			text-align: right;
			margin-right: 1em;
			a {
				color: $base-link-color;
				text-decoration: none;
			}
		}
	}
}

.collapse { display: none; }

#navbar-toggle-cb:checked ~ .collapse {
	display: block;
}

#navbar-toggle-cb {
	
}

main {
	max-width: 800px ;
	margin: auto;

	ul {

		padding: 0;
	}
	article {
		margin: 1em;

		h1 {
			text-align: center;
			font-size: 2em;
		}
		p {
			text-align: justify;
		}

		a {
			color: $base-link-color;
			text-decoration: none;
			&:hover {
				color: $base-link-darkened;
				transition: 0.5s ease-out;
			}
		}
	}
		
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	
	margin: 2em auto;
	text-align: left ;
	width: 80%;
	clear: both ;

	h3 {
		font-family: "Alegreya Sans SC";	
	}

	span {
		font-family: "Alegreya Sans SC";
		font-weight: 400;
	}
	#sitemap {
		ul  {
			list-style: none;	
			li>a{
				color: $base-link-color;
			}
		}
	}

}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

.blogpost-list-item {

	list-style: none;

}

.blogpost-card {

	margin: 1em;
	border: 0px solid gray;
	box-shadow: 1px 1px 15px darken($background-color, 20%);

	h2,h3 {
		padding-top: 1em;
		padding-bottom: 0;
		margin-right: $post-card-margin;
		margin-left: $post-card-margin;

		font-size: 1.3em;

		a {
			color: $base-link-color;
			text-decoration: none;
		}
	}

	.blogpost-summary-content{

		margin-right: $post-card-margin;
		margin-left: $post-card-margin;

	}

	.index-located {
		padding-bottom: $post-card-margin;
	}
	.read-more{
		display: block;
		margin-top: 1em;
		a {
			color: $base-link-color;
			text-decoration: none;
			&:hover {
				color: $base-link-darkened; 
				transition: 0.5s ease-out;
			}
		}
	}

	.post-date {
		border-top: 1px solid #ddd;
		display: block;
		padding: $post-card-margin 1em;
		span {
			color: $date-color;
			font-size: 0.7em;
		}
	}
}

.attribution {
	color: $date-color;
	font-style: italic;
	font-size: 0.7em;
	display: block;
	text-align: right;
}

.blog-intro {
	text-align: center;
	margin-top: 3em;
}

	.copyright {
		font-family: "Alegreya Sans";
		font-weight: 400;
		display: block;
		margin: 1em auto;
		text-align: center;
	}

