/*
 * variáveis
 */

// cores
$date-color: #bbb;
$base-link-color: #333; //#1968e6;
$base-link-darkened: darken($base-link-color, 20%);
$base-text-color: #333;
$background-color: #fff;
	$bg-alpha: transparentize($background-color, 0.5);
$wpp-button-bg: darken(#25D366, 10%);

// espaços
$post-card-margin: 16px;
$heading-margin: 16px;

// tamanhos de telas
$medium-bp: 863px;
$small-bp: 792px;
$smaller-bp: 684px;
$about-bp: 1000px;

///////////// estilo
body {
	font-family: sans-serif ;
	background: $background-color;
	color: $base-text-color;
	font-family: 'Alegreya Sans';
	margin: 0 auto;
}

.wrapper {
	max-width: 95%;
	margin: 0 auto;

}

h1,h2,h3,h4{
	font-family: 'Alegreya Sans SC';
	font-weight: 500;
}

.navbar {
	display: block;
	width: 100%;
	background: $background-color; /*linear-gradient(to right, lighten(#8a7fe9, 25%),$background-color);*/
	box-shadow: 5px 1px 5px darken($background-color, 20%);

	h1{
		display: flex;
		flex-direction: column;
		font-family: "Alegreya Sans SC";
		font-weight: 400;
		padding: $heading-margin;
		margin:0;
		justify-content: center;
		align-items: center;
		color: #fff;
		a {
			padding: 0;
			&:hover {
				text-decoration: none;
			}
		}
		span {
			font-size: 0.7em;
			margin-top: 5px;
			color: $base-link-darkened;
			font-weight:300;
		}
	}

	li{

		font-family: 'Alegreya Sans SC';
		font-size: 1.1em;
		a {
			&:hover {
				color: $base-link-darkened;
			}
		}
	}

	a {
		color: $base-link-color;
		padding-top: 1em;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	.container {
		display: flex;
		width: 80%;
		margin: 0 auto;

		// flexbox stuff
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.separator {
			h1,h2{
				display: inline-block;
				a {
					padding: 0.3em;
					}
			}
		}
	}
}

main {
	margin: auto;

	ul {

		padding: 0;
	}
	article {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: $smaller-bp) {
			flex-direction: column;
			align-items:center;
			.featured-image{
				max-width: 80%;
				margin: 0 auto;
				background-color: darken($background-color, 3%);
				img {
					max-width: 50%;
					display: block;
					margin: 0 auto;
					text-align: center;
				}
			}
			.article-text{
				padding-top: 1em;
				max-width: 80%;
			}
		}

		h1 {
			text-align: center;
			font-size: 2em;
		}
		p {
			text-align: justify;
		}

		a {
			color: $base-link-color;
			text-decoration: none;
			&:hover {
				color: $base-link-darkened;
				transition: 0.5s ease-out;
			}
		}

		max-width: 90%;
		margin: 1em auto;


		@media screen and (min-width: $medium-bp) {
			max-width: 80%;
		}
		
		.call-to-action {
			&:hover {
				a {
				color: white;
				}
			}
		}
	}
}

header h1 {
	text-align: center ;
}



footer {
	
	background-color: #0047ab; 
	border-top: solid 5px #00ab64;
	padding: 1.5em 0em;
	margin-top: 1em;
	text-align: left ;
	width: 100%;
	color: $background-color;
	clear: both ;

	h3 {
		font-family: "Alegreya Sans SC";	
	}

	span {
		font-family: "Alegreya Sans SC";
		font-weight: 400;
	}
	#sitemap {
		.footer-description {
			margin: 0 auto;
			@media screen and (min-width: $small-bp) {
				width: 80%;
			}
			@media screen and (min-width: $medium-bp) {
				width: 70%;
			}
		}

		ul  {
			list-style: none;	
			li {
				margin: 0.5em 0;
			}
			li>a{
				color: $background-color;
			}
		}
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 90%;
		margin: 0 auto;
		padding-top: 2em;
	}

	.footer-div {

			display: flex;
			flex-direction: column;
		@media screen and (min-width: $small-bp) 
		{
			flex-direction: row;	
			justify-content: space-around;
		}

	}

	@media screen and (min-width: $small-bp) {
		margin-top: 2em;
	}
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}



img {
	width: 100%;
	height: 100%;
}

.blogpost-list {
	display: flex;
	flex-wrap: wrap;
	@media screen and (min-width: $smaller-bp) {
		justify-content: center;
		margin: 0 auto;
		width: 95%;
	}
}

.blogpost-card {

	display: flex;
	flex-direction: column;
	margin: 1em;
	border: 0px solid gray;
	box-shadow: 1px 1px 15px darken($background-color, 20%);
	flex-wrap: nowrap;

	@media screen and (min-width: $smaller-bp) {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 45%;
	}

	@media screen and (min-width: $medium-bp) {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 29%;
	}

	.featured-image {
			a{
				img {
					@media screen and (min-width: $small-bp) {
						min-width: calc(949px / 3);
						min-height: calc(704px / 3);
						object-fit: cover;
				}
			}
		}
	}

	h2,h3 {
		padding-bottom: 0;
		margin-right: $post-card-margin;
		margin-left: $post-card-margin;

		font-size: 1.3em;

		a {
			color: $base-link-color;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.blogpost-summary {

		height: 100%;
	}

	.index-summary {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		.blogpost-summary-content {
			height: 100%;
		}

	}

	.blogpost-summary-content{

		margin-right: $post-card-margin;
		margin-left: $post-card-margin;

	}

	.index-located {
		padding-bottom: $post-card-margin;
	}
	.read-more{
		display: block;
		margin-top: 1em;
		a {
			color: $base-link-color;
			text-decoration: none;
			padding: 1em;
			text-align: center;
			&:hover {
				color: $base-link-darkened; 
				transition: 0.5s ease-out;
				text-decoration: underline;
			}
		}
	}

	.post-date {
		border-top: 1px solid #ddd;
		padding: $post-card-margin 1em;
		span {
			color: $date-color;
			font-size: 0.7em;
		}
	}
}

.blogpost-list-item {

	list-style: none;
	height: 100%;

}

.attribution {
	color: $date-color;
	font-style: italic;
	font-size: 0.7em;
	display: block;
	text-align: right;
	width: 100%;

	@media screen and (min-width: $smaller-bp) {
		width: 80%;
	}
}

.blog-intro {
	text-align: center;
	margin-top: 2em;
	@media screen and (min-width: $medium-bp) {
		margin-top: 3em;
	}
}

.copyright {
	font-family: "Alegreya Sans SC";
	font-weight: 400;
	display: block;
	margin: auto;
	padding: 0.25em;
	background-color: opacify(darken(#0047ab, 15%),.9);
	color: $background-color;
	text-align: center;
}

.collapse { 
	display:none; 
	position: absolute;
	background-color: $background-color;
	left: 0;
	top: 86px;
	width: 100%;
	box-shadow: 0 5px 5px darken($background-color, 20%);
	ul {
		list-style: none;
		text-align: center;
		padding: 0;
		li {
			font-size: 1.3em;
			padding: 2vh;
			display: block;
			width: 100%;
			&:hover {
				background-color: darken($background-color, 5%);	
			}
		}
	}
}
/* show the collapse when navbar toggle is checked */
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
		@media screen and (min-width: $medium-bp){
		display: none;
	}
}

/* the checkbox used only internally; don't display it */
#navbar-toggle-cbox {
  display:none;
}

.navbar-header {
		@media screen and (min-width: $medium-bp){
		display: none;
	}
}

.navbar-header-bsc {
	display: none;
	ul {
		display: block;
		padding: 0;
		li {
			display: inline-block;
			padding: 0 0.7em;
			&:first-child {
				padding: 0 0.7em 0 0;	
			}
			&:last-child {
				padding: 0 0 0 0.7em;
			}
		}
	}

	@media screen and (min-width: $medium-bp){
		display: block;
	}
}



.paginator {
	display: block;
	margin: 0 auto;
	text-align: center;
	.pagination {
		display: block;
		.page-item {
			display: inline-block;
			padding: 0.5em;
			margin: 0 0.2em;
			box-shadow: 0px 0px 1px lighten($base-link-color, 10%); 
			border-radius: 5px;
			color: $base-text-color; 

			&:hover:not(.disabled) {
					background-color:	lighten($base-link-color, 10%);
					color: $background-color;
					transition: 0.3s ease-out;
					.page-link {
						color: $background-color;
					}
				}

			.page-link {
				color: $base-link-color;
				text-decoration: none;
			}
		}
		.disabled {
			user-select: none;
			box-shadow: 0 0 1px $date-color;
			color: $date-color;
			.page-link {
					color: $date-color;
			}
			&:hover {
				background-color: $background-color;	
			}

		}
		.active {

				background-color: lighten($base-link-color, 10%); 
				color: $background-color;
		}

	}

}

.index-h1 {
	text-align: center;
	margin-top: 1.5em;
	font-size: 1.4em;
}


.index-content-separator {
	display: block;
    width: 100%;
    margin: 0 auto;
    p {
        width: 80%;
        margin: 1em auto;
    }
	@media screen and (min-width: $medium-bp) {
		flex-direction: row;
		width: 90%;
	}

	div {
        margin: 0 auto;
        #psicodinâmica {
            text-align: center;
        }

        #técnica {
            text-align: center;
        }
		.index-h2 {
				align-self: center;
				text-align: center;
				margin: 0;
				padding: .5em 0 .5em 0;
				@media screen and (min-width: $small-bp) {
					padding: 1.5em 0 1.5em;
				}
		}


		img {
			max-width: 50%;
			margin: 0 auto;
			max-width: 40vw;

			@media screen and (min-width: $medium-bp) {
				max-width: 15vw;
			}
		}


	}
	.desc-p {
		width: 90%;
		flex-grow: 1;
		font-size: 1.2em;
		text-align: justify;
		padding: 1em 0 0 0;
		@media screen and (min-width: $smaller-bp) {
			width: 70%;
			vertical-align: center;
			padding: 1em;
		}
		@median screen and (min-width: $medium-bp){
			width: 50%;
			align-self: flex-end;
		}
	}
	&::after {
		clear: both;
	}
}

.get-in-contact {
		margin: 0 auto;
		p {
			margin: 0;
		}
		i {
			margin-left: 1em;
		}
		margin-bottom: 1em;
		@media screen and (min-width: $medium-bp)
		{
			max-width: 90%;
		}
}

.contact-form {
	color: $base-text-color;
	font-family: "Alegreya Sans SC";
	border: 0;
	fieldset {
		margin: 0 auto;
		border: none;
		padding: 1em 0;
		label {
			display: block;
		}
		input {
			display: block;
			width: 100%;
		}
		textarea {
			display: block;
			width: 100%;
			max-width: 100%;
			resize: none;
			min-height: 10em;
			line-height: 1.5em;
		}
		@media screen and (min-width: $medium-bp) {
			max-width: 90%;
		}
	}
}

.form-submit {
	background-color: $base-link-color;
	font-family: "Alegreya Sans SC";
	color: $background-color;
	border: 0;
	font-size: 1.2em;
	border: solid 1px $base-link-color;
	&:hover {
			color: $base-link-color;
			background-color: $background-color;
			transition: 0.1s ease-out;
	}
}

.formkeep-logo {
	padding-top: 4rem;
	padding-bottom: 3rem;
	text-align: center;
}

.call-to-action {
	display: block;
	margin: 1em auto;
	max-width: 75%;
	text-align: center;
	@media screen and (min-width: $smaller-bp) {
		max-width: 40%;
	}
	@media screen and (min-width: $medium-bp) {
		max-width: 80%;
	}

	a {
		padding: 1em;
		border-radius: 5px;
		background-color: #0047ab;
		color: $background-color;
		display: block;
		margin: auto;
		&:hover {
			p {
				text-decoration: underline;
			}
		}
	}

	i,p {
		display: inline-block;
		text-decoration: none;
	}
	p {
		font-family: Alegreya Sans SC;
		margin: 0 0 0 0.3em;
		font-size: 1.1em;
	}
}
.whatsapp-button {

	/*
	@media screen and (max-width: $smaller-bp) { 
		width: 84%;
		right: 5%;
	}
	*/

	right: 1.5%;
	z-index: 10;
	position: fixed;
	bottom: 10px;
	padding: 0 1em;
	background: $wpp-button-bg; 
	box-shadow: 2px 2px 3px darken($background-color, 30%);
	border-radius: 100px;
	
			a {
				text-decoration: none;
				color: $background-color;

			}
	i {
			padding: 0.3em 0;
			display: flex; 
			font-size: 2.3em;
			align-items: center;
			color: $background-color;
			justify-content: center;
			&:hover {
				text-decoration: none;
			}

			.phone-number {
				font-size: 0.4em;
			}
			p {
			color: $background-color;
			display: inline-block;
			padding-left: 0.5em;
			text-align: center;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.pictitle {

	display: flex;		
	flex-direction: column-reverse;

	.pictitle-copy {
		max-width: 90%;
		display: block;
		margin: auto;
		@media screen and (min-width: $smaller-bp) {
			max-width: 75%;
		}
		@media screen and (min-width: $medium-bp) {
			max-width: 100%;
		}
	}

	@media screen and (max-width: $smaller-bp) {
		.index-self-pic {
			width: 70%;
		}
	}

	@media screen and (min-width: $medium-bp) {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		max-width: 60%;
		margin: auto;

		.index-h1 {
			margin-top: 0;
			padding: 0 1em;
			@media screen and (min-width: $medium-bp) {
				max-width: 90%;
				padding: 0 1em;
			}
		}

	}
		.subheader {
			font-size: 1.1em;
			display: block;
			margin: auto;
			text-align: center;
			font-family: Alegreya Sans;
			@media screen and (min-width: $medium-bp) {
				max-width: 90%;
			}
		}
	.index-self-pic {
		@media screen and (min-width: $medium-bp) {
			order: -1;
		}
		
		border-radius: 50%;
		display: block;
		margin: 0 auto;
	}
}

.about-article {
		@media screen and (min-width: $about-bp) {
			display: flex;
			flex-direction: row;			
			align-items: center;
			.article-text {
				padding-left: 1.5em;
				max-width: 60%;
				h2 {
					text-align: center;
					display: block;
				}
			}
		}
		.featured-image {
		background-color: darken($background-color, 5%);
		img { 
			width: 50%;
			display: block;
			margin: 0 auto;
		}
		@media screen and (min-width: $about-bp) {
			background-color: $background-color;
			img {
				max-width: 100%;
				border-radius: 50%;
				width: 100%;
			}

		}
	}
}

.get-to-know {
    text-align: center;
    width: 80%;
    margin: 1em auto;
    @media screen and (min-width: $small-bp) {
        margin: 3em auto 2em;
    }
}

.top {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.sub {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 2em;;
    font-weight: 400;
}

.services {

    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around; 

    @media screen and (min-width: $medium-bp){
        width: 87.5%;
        flex-direction: row;
    }

    .service {
        display: flex;
        flex-direction: column;
        padding: 2em 0;
        margin-bottom: 2em;
	    box-shadow: 1px 1px 15px darken($background-color, 20%);
        &:first-child {
            margin-right: 0.5em;
        }
        &:nth-child(2) {
            margin-left: 0.5em;
        }
        img {
            height: auto;
            width: auto;
            max-width:40%;
            margin: 0 auto;
            display: block;
            @media screen and (min-width: $smaller-bp){
                max-width: 25%;
            }
            @media screen and (min-width: $medium-bp) { 
                max-width: 40%;
            }
        }
        h4 {
            order: -1; 
            @media screen and (min-width: $small-bp) {
                order: initial; 
                margin-bottom: 0.5em;
            }
            text-align: center;
            margin-top: 1.5em;
            font-size: 1.3em;
        }
        h5 {
            font-weight: 600;
            font-size: 1em;
            @media screen and (min-width: $small-bp) {
                font-size: 0.9em;
            }
            margin: 1em auto .5em;
            padding: 0 3em;
            text-align: center;
            font-family: 'Alegreya Sans';
        }
        ul {
            padding: 0 4em;
            list-style-position: inside;
            text-align: center;
            list-style: none;
            li { margin: 0.5em;}
            @media screen and (min-width: $medium-bp) {
               text-align: left; 
               list-style: circle;
               li {
                margin: 0;
               }
            }
        }
        .call-to-action {
            margin-top: auto;
            width: 80%;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}

.self-info {
    background-color: #0047ab;
    color: $background-color;
    display: flex;
    flex-direction: column;
    border-bottom: solid 5px #00ab64;
    @media screen and (min-width: $medium-bp) {
        flex-direction: row;
        justify-content: space-evenly;
    }
    img {
        order: -1;
        margin: -1em auto 1em;
        border-radius: 5%;
        border: solid 5px darken(#0047ab, 10%);
        max-width: 50%;
        @media screen and (min-width: $smaller-bp) {
            max-width: 40%;
        }
        @media screen and (min-width: $medium-bp) {
            max-width: 30%;
            margin: 2em 0 2em 4em;
            border-radius: 5% 0 0 5%;
            border: none;
            box-shadow: -5px 5px 0px darken(#0047ab, 10%);
            height: 100%;
            width: 100%;
            order: 1;
        }

        @media screen and (min-width: 1047px) {
            box-shadow: none; 
            border-radius: 5%;
            border: solid 5px darken(#0047ab, 10%);
            max-width: 25%;
            margin: 1em 0 1em 2em;
        }
    }

    div {
        text-align: center;
        padding: 0 1em 1em;
        @media screen and (min-width: $medium-bp) {
            margin: 3em;
            margin-left: 5em;
            width: 50%;
            text-align: justify;
        }

        @media screen and (min-width: 1047px) {

            margin-left: 2.5em;
        }
        h2, h3 {
            text-align: center;
        }
        h3 {
            margin-bottom: 0em;
            margin-top: 0em;
            font-weight: 300;
            font-size: 1.5em;
			&:nth-child(3) {
				margin-top: 0.25em;
				margin-bottom: 0.25em;
				font-size: 1.25em;
			}
        }
        h2 {
            font-size: 2.5em;
            margin: 0;
        }
        .grad {
            font-family: "Alegreya Sans SC";
            font-weight: 300;
            text-align: center;
            margin-top: 0.5em;
            margin-bottom: 2em;
        } 
    }
}

#how-treatment {
    li { 
		margin: 0.5em;
    	list-style: circle;
    	list-style-position: inside;

	}
    h3 {
        text-align: center;
        font-size: 2em; 
    }

	p {
		strong {color:#0047ab;}
	}
	
}

#website-introduction {
    @media screen and (min-width: $medium-bp) {
        padding-top: 2em;
    }

	h3 {
		text-align: center;
	}

	#gt-intro-lists, #ailments {
		display: flex;
		flex-direction: column;

		ul {
			display: flex;
			flex-direction: column;
			list-style: none;
			margin: 0;
    		@media screen and (min-width: $smaller-bp) {
				display: table;
				border-spacing: 1em;	
			}
			li {
				img {
					width: 25%;
					display: block;
					margin: 1em auto 1.5em;
					@media screen and (min-width: $smaller-bp) {
						width: 100%
					}
				}
				font-weight: bold;
				border-radius: 10px;
                color:  darken(#ab0047, 10%);
				box-shadow: 1px 1px 15px darken($background-color, 20%);
				text-align: center;
				vertical-align:middle;
				padding: 1.5em;
				margin-bottom: 1em;

    			@media screen and (min-width: $smaller-bp) {
					height: 100px; 
					width: 33%;
					display: table-cell;
				}
			}
		}

	}
	#gt-intro-lists > ul:nth-child(1) > li:nth-child(1) {
		margin-top: 1em;
	}

    strong {
        color:  darken(#ab0047, 10%);

    }

	.gt-intro-ending {
		strong{
  	      color:  darken(#0047ab, 10%);
		}
		h4 {
			margin-top: 1.5em;
			font-weight: 400;
			font-size: 1.15em;
			text-align: center;
		}
	}

	p {
        strong {
            color:  darken(#0047ab, 10%);

        }
        &:first-child {
            strong {
                color:  darken(#ab0047, 10%);

            }
        }
   } 
}

.approach {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    @media screen and (min-width: $small-bp) {
        flex-direction: row;

    }

    .approach-description {
	    box-shadow: 1px 1px 15px darken($background-color, 20%);
        margin: 1em 0; 
        padding: 1em;

		img {
			width: 25%;
			display: block;
			margin: 1em auto 1.5em;
			@media screen and (min-width: $medium-bp) {
				width: 100%
			}
		}

        @media screen and (min-width: $small-bp) {
            margin: 0 1em; 
            max-width: 60%;
        }
    }

    .approach01 {
        strong {
            color:#ab0047;
            &:last-child{
                color:#0047ab;
         }
        }
    }
    .approach02 {
        strong {color:#0047ab; }
    }
}

#gains {
	p > strong {
		color:#0047ab;
	}
	h3 {
		text-align: center;
	}
	ul {
		margin-top: 2em;
		border-spacing: 1em;	
		display: flex;
		flex-direction: column;
		@media screen and (min-width: $smaller-bp) {
			display: table;
			flex-direction: row;
		}
	}
	ul > li {
		list-style: none;
		text-align: center;
		padding: 1em;
		box-shadow: 1px 1px 15px darken($background-color, 20%);
		strong {color:#0047ab; }
		margin-bottom: 1em;
		border-radius: 10px;
		padding-bottom: 2em;

		img {
			width: 25%;
			display: block;
			margin: 1em auto 1.5em;
			@media screen and (min-width: $medium-bp) {
				width: 70%
			}
		}

		@media screen and (min-width: $medium-bp) {
			vertical-align: middle;		
			display:table-cell;
			margin-bottom: initial;
		}
	}	
}

#contato {
	width: 82.5%;
	margin: 3em auto;
	text-align: center;
	padding: 3em 2em;
	border-bottom: solid 3px #00ab64;
	border-top: solid 3px #00ab64;
	font-family: "Alegreya Sans";
	h3 {
		font-size: 2em;
	font-family: "Alegreya Sans";
	}
	h4 {
	font-family: "Alegreya Sans";
		font-size: 1.5em;
	}
}

#return {
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;
	color:#0047ab;
	&:hover {
		text-decoration: underline;
	}
}

#video-container {
	width: 100%;
	border-radius: 25px;
	background-color: darken(white, 5%); 
	margin-bottom: 5em;
	padding-bottom: 3em;
	padding-top: 3em;
	h4 {
		font-size: 1.5em;	
		text-align: center;
		margin-top: 0;
		font-weight: 300;
	}
}

#video {
	aspect-ratio: 16 / 9;
	width: 90%;
	display: block;
	margin: auto;
	border-radius: 25px;
}

#full-name {
	display: none;
}

#instagram-intro {
	width: 90%;
	margin: 6em auto -5em;
	position: relative;
	gap: 2.5%;
	border-radius: 25px 25px 0 0 ;
	background-color: darken($background-color, 5%);
	border-bottom: solid 5px #00ab64;
	display: flex;
	flex-flow: row wrap;
	padding: 2em 1em;
	box-shadow: 5px -5px 5px darken($bg-alpha, 60%);
	@media screen and (min-width: $medium-bp){
		padding: 3em 2em 2em;
		width: 80%;
	}
	article {
		margin: 0 auto;
		border-radius: 25px;
		flex-basis: 30%; 
		flex-shrink: 3;
		@media screen and (min-width: $medium-bp) {
			flex-basis: 30%;
		}
		a {
			img {
				border-radius: 5%;
				box-shadow: 3px 3px 10px darken($background-color, 20%);
			}
		}
	}
	#ig-button {
		flex-basis: 100%;
		flex-grow: 3;
		max-width: 70%;
		margin-bottom: 3em;
		@media screen and (min-width: $medium-bp) {
			max-width: 30%;
			margin-top: 3em;
			order: 4;	
			margin-bottom: 0;
		}
	}
}