/*
 * variáveis
 */

// cores
$date-color: #bbb;
$base-link-color: #333; //#1968e6;
$base-link-darkened: darken($base-link-color, 20%);
$base-text-color: #333;
$background-color: #fff;
$wpp-button-bg: darken(#25D366, 10%);

// espaços
$post-card-margin: 16px;
$heading-margin: 16px;

// tamanhos de telas
$medium-bp: 863px;
$small-bp: 792px;
$smaller-bp: 684px;
$about-bp: 1000px;

///////////// estilo
body {
	font-family: sans-serif ;
	background: $background-color;
	color: $base-text-color;
	font-family: 'Alegreya Sans';
	margin: 0 auto;
}

.wrapper {
	max-width: 95%;
	margin: 0 auto;

}

h1,h2,h3,h4{
	font-family: 'Alegreya Sans SC';
	font-weight: 500;
}

.navbar {
	display: block;
	width: 100%;
	background: $background-color; /*linear-gradient(to right, lighten(#8a7fe9, 25%),$background-color);*/
	box-shadow: 5px 1px 5px darken($background-color, 20%);

	h1{
		display: flex;
		flex-direction: column;
		font-family: "Alegreya Sans SC";
		font-weight: 400;
		padding: $heading-margin;
		margin:0;
		justify-content: center;
		align-items: center;
		color: #fff;
		a {
			padding: 0;
			&:hover {
				text-decoration: none;
			}
		}
		span {
			font-size: 0.7em;
			margin-top: 5px;
			color: $base-link-darkened;
			font-weight:300;
		}
	}

	li{

		font-family: 'Alegreya Sans SC';
		font-size: 1.1em;
		a {
			&:hover {
				color: $base-link-darkened;
			}
		}
	}

	a {
		color: $base-link-color;
		padding-top: 1em;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	.container {
		display: flex;
		width: 80%;
		margin: 0 auto;

		// flexbox stuff
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.separator {
			h1,h2{
				display: inline-block;
				a {
					padding: 0.3em;
					}
			}
		}
	}
}

main {
	margin: auto;

	ul {

		padding: 0;
	}
	article {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: $smaller-bp) {
			flex-direction: column;
			align-items:center;
			.featured-image{
				max-width: 80%;
				margin: 0 auto;
				background-color: darken($background-color, 3%);
				img {
					max-width: 50%;
					display: block;
					margin: 0 auto;
					text-align: center;
				}
			}
			.article-text{
				padding-top: 1em;
				max-width: 80%;
			}
		}

		h1 {
			text-align: center;
			font-size: 2em;
		}
		p {
			text-align: justify;
		}

		a {
			color: $base-link-color;
			text-decoration: none;
			&:hover {
				color: $base-link-darkened;
				transition: 0.5s ease-out;
			}
		}

		max-width: 90%;
		margin: 1em auto;


		@media screen and (min-width: $medium-bp) {
			max-width: 80%;
		}
	}
}

header h1 {
	text-align: center ;
}

footer {
	
	background-color: darken($background-color, 3%);
	padding: 1em 0em;
	margin-top: 1em;
	text-align: left ;
	width: 100%;
	clear: both ;

	h3 {
		font-family: "Alegreya Sans SC";	
	}

	span {
		font-family: "Alegreya Sans SC";
		font-weight: 400;
	}
	#sitemap {
		.footer-description {
			margin: 0 auto;
			@media screen and (min-width: $small-bp) {
				width: 80%;
			}
			@media screen and (min-width: $medium-bp) {
				width: 70%;
			}
		}

		ul  {
			list-style: none;	
			li {
				margin: 0.5em 0;
			}
			li>a{
				color: $base-link-color;
			}
		}
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 90%;
		margin: 0 auto;
	}

	.footer-div {

			display: flex;
			flex-direction: column;
		@media screen and (min-width: $small-bp) 
		{
			flex-direction: row;	
			justify-content: space-around;
		}

	}

	@media screen and (min-width: $small-bp) {
		margin-top: 2em;
	}
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}



img {
	width: 100%;
	height: 100%;
}

.blogpost-list {
	display: flex;
	flex-wrap: wrap;
	@media screen and (min-width: $smaller-bp) {
		justify-content: center;
		margin: 0 auto;
		width: 95%;
	}
}

.blogpost-card {

	display: flex;
	flex-direction: column;
	margin: 1em;
	border: 0px solid gray;
	box-shadow: 1px 1px 15px darken($background-color, 20%);
	flex-wrap: nowrap;

	@media screen and (min-width: $smaller-bp) {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 45%;
	}

	@media screen and (min-width: $medium-bp) {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 29%;
	}

	.featured-image {
			a{
				img {
					@media screen and (min-width: $small-bp) {
						min-width: calc(949px / 3);
						min-height: calc(704px / 3);
						object-fit: cover;
				}
			}
		}
	}

	h2,h3 {
		padding-bottom: 0;
		margin-right: $post-card-margin;
		margin-left: $post-card-margin;

		font-size: 1.3em;

		a {
			color: $base-link-color;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.blogpost-summary {

		height: 100%;
	}

	.index-summary {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		.blogpost-summary-content {
			height: 100%;
		}

	}

	.blogpost-summary-content{

		margin-right: $post-card-margin;
		margin-left: $post-card-margin;

	}

	.index-located {
		padding-bottom: $post-card-margin;
	}
	.read-more{
		display: block;
		margin-top: 1em;
		a {
			color: $base-link-color;
			text-decoration: none;
			padding: 1em;
			text-align: center;
			&:hover {
				color: $base-link-darkened; 
				transition: 0.5s ease-out;
				text-decoration: underline;
			}
		}
	}

	.post-date {
		border-top: 1px solid #ddd;
		padding: $post-card-margin 1em;
		span {
			color: $date-color;
			font-size: 0.7em;
		}
	}
}

.blogpost-list-item {

	list-style: none;
	height: 100%;

}

.attribution {
	color: $date-color;
	font-style: italic;
	font-size: 0.7em;
	display: block;
	text-align: right;
	width: 100%;

	@media screen and (min-width: $smaller-bp) {
		width: 80%;
	}
}

.blog-intro {
	text-align: center;
	margin-top: 2em;
	@media screen and (min-width: $medium-bp) {
		margin-top: 3em;
	}
}

.copyright {
	font-family: "Alegreya Sans";
	font-weight: 400;
	display: block;
	margin: 1em auto;
	text-align: center;
}

.collapse { 
	display:none; 
	position: absolute;
	background-color: $background-color;
	left: 0;
	top: 86px;
	width: 100%;
	box-shadow: 0 5px 5px darken($background-color, 20%);
	ul {
		list-style: none;
		text-align: center;
		padding: 0;
		li {
			font-size: 1.3em;
			padding: 2vh;
			display: block;
			width: 100%;
			&:hover {
				background-color: darken($background-color, 5%);	
			}
		}
	}
}
/* show the collapse when navbar toggle is checked */
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
		@media screen and (min-width: $medium-bp){
		display: none;
	}
}

/* the checkbox used only internally; don't display it */
#navbar-toggle-cbox {
  display:none;
}

.navbar-header {
		@media screen and (min-width: $medium-bp){
		display: none;
	}
}

.navbar-header-bsc {
	display: none;
	ul {
		display: block;
		padding: 0;
		li {
			display: inline-block;
			padding: 0 1em;
			&:first-child {
				padding: 0 1em 0 0;	
			}
			&:last-child {
				padding: 0 0 0 1em;
			}
		}
	}

	@media screen and (min-width: $medium-bp){
		display: block;
	}
}



.paginator {
	display: block;
	margin: 0 auto;
	text-align: center;
	.pagination {
		display: block;
		.page-item {
			display: inline-block;
			padding: 0.5em;
			margin: 0 0.2em;
			box-shadow: 0px 0px 1px lighten($base-link-color, 10%); 
			border-radius: 5px;
			color: $base-text-color; 

			&:hover:not(.disabled) {
					background-color:	lighten($base-link-color, 10%);
					color: $background-color;
					transition: 0.3s ease-out;
				}

			.page-link {
				color: $base-link-color;
				text-decoration: none;
			}
		}
		.disabled {
			user-select: none;
			box-shadow: 0 0 1px $date-color;
			color: $date-color;
			.page-link {
					color: $date-color;
			}
			&:hover {
				background-color: $background-color;	
			}

		}
		.active {

				background-color: lighten($base-link-color, 10%); 
				color: $background-color;
		}

	}

}

.index-h1 {
	text-align: center;
	margin-top: 1.5em;
	font-size: 1.5em;
}

.index-content-separator {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 1em auto;
	flex-direction: column;

	@media screen and (min-width: $medium-bp) {
		flex-direction: row;
		width: 80%;
	}

	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@media screen and (min-width: $medium-bp) {
			width: 50%;
			align-self: flex-start;
		}

		.index-h2 {
				align-self: center;
				text-align: center;
				margin: 0;
				padding: .5em 0 1.5em 0;
				@media screen and (min-width: $medium-bp) {
					padding: 1.5em 0;
				}
		}


		img {
			max-width: 50%;
			margin: 0 auto;
			max-width: 40vw;

			@media screen and (min-width: $medium-bp) {
				max-width: 15vw;
			}
		}


	}
	.desc-p {
		width: 90%;
		flex-grow: 1;
		font-size: 1.2em;
		text-align: justify;
		padding: 1em 0 0 0;
		@media screen and (min-width: $smaller-bp) {
			width: 70%;
			vertical-align: center;
			padding: 1em;
		}
		@median screen and (min-width: $medium-bp){
			width: 50%;
			align-self: flex-end;
		}
	}
	&::after {
		clear: both;
	}
}

.get-in-contact {
		margin: 0 auto;
		p {
			margin: 0;
		}
		i {
			margin-left: 1em;
		}
		margin-bottom: 1em;
		@media screen and (min-width: $medium-bp)
		{
			max-width: 90%;
		}
}

.contact-form {
	color: $base-text-color;
	font-family: "Alegreya Sans SC";
	border: 0;
	fieldset {
		margin: 0 auto;
		border: none;
		padding: 1em 0;
		label {
			display: block;
		}
		input {
			display: block;
			width: 100%;
		}
		textarea {
			display: block;
			width: 100%;
			max-width: 100%;
			resize: none;
			min-height: 10em;
			line-height: 1.5em;
		}
		@media screen and (min-width: $medium-bp) {
			max-width: 90%;
		}
	}
}

.form-submit {
	background-color: $base-link-color;
	font-family: "Alegreya Sans SC";
	color: $background-color;
	border: 0;
	font-size: 1.2em;
	border: solid 1px $base-link-color;
	&:hover {
			color: $base-link-color;
			background-color: $background-color;
			transition: 0.1s ease-out;
	}
}

.formkeep-logo {
	padding-top: 4rem;
	padding-bottom: 3rem;
	text-align: center;
}

.whatsapp-button {

	@media screen and (max-width: $smaller-bp) { 
		width: 84%;
		right: 5%;
	}

	right: 1.5%;
	position: fixed;
	bottom: 10px;
	padding: 0 1em;
	background: $wpp-button-bg; 
	box-shadow: 5px 1px 5px darken($background-color, 20%);
	border-radius: 5px;
	
			a {
				text-decoration: none;
				color: $background-color;

			}
	i {
			padding: 0.3em 0;
			display: flex; 
			font-size: 2em;
			align-items: center;
			color: $background-color;
			justify-content: center;
			&:hover {
				text-decoration: none;
			}

			.talk-to-me {
				font-family: "Alegreya Sans SC";
				font-size: 0.5em;
			}
			.phone-number {
				font-size: 0.4em;
			}
			p {
			color: $background-color;
			display: inline-block;
			padding-left: 0.5em;
			text-align: center;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.pictitle {

	@media screen and (min-width: $medium-bp) {
		display: flex;		
		justify-content: center;
		align-items: center;
		max-width: 60%;
		margin: auto;

		.index-h1 {
			padding: 1em;	
		}

	}
	.index-self-pic {
		@media screen and (min-width: $medium-bp) {
			order: -1;
		}
		
		border-radius: 50%;
		display: block;
		margin: 0 auto;
	}
}

.about-article {
		@media screen and (min-width: $about-bp) {
			display: flex;
			flex-direction: row;			
			align-items: center;
			.article-text {
				padding-left: 1.5em;
				h2 {
					text-align: center;
					display: block;
				}
			}
		}
		.featured-image {
		background-color: darken($background-color, 5%);
		img { 
			width: 50%;
			display: block;
			margin: 0 auto;
		}
		@media screen and (min-width: $about-bp) {
			background-color: $background-color;
			img {
				max-width: 100%;
				border-radius: 50%;
				width: 100%;
			}

		}
	}
}
